<div class="products-container">
  <nav class="category-menu">
      <label class="default-category" for="default-category">Fruits &amp; Vegetables</label>
      <input type="checkbox" id="default-category"/>
      <ul class="categories-listing">
        {{#each categories}}
          <li class="category-item">
            <a class="category-item-link item-{{@index}}" href="#/category/{{id}}" data-name="{{name}}">
              {{name}}
            </a>
          </li>
        {{/each}}
      </ul>
  </nav>
  <ul class="products-showcase">
    {{#each products}}
    <li>
      <h4 tabindex="0">{{name}}</h4>
      <div class="product-box">
        <figure class="product-photo">
          <img tabindex="0" src="{{imageURL}}" alt="{{name}}">
        </figure>
        <p tabindex="0">{{description}}</p>
      </div>
      <div class="mrp-buy-wrapper">
        <span>MRP Rs. {{price}}</span>
        <a class="btn-buy-now" href="#" data-mrp=" @ MRP Rs. {{price}}">Buy Now</a>
      </div>
    </li>
    {{/each}}
  </ul>
</div>