<div class="products-container">
  <nav class="sidebar">
    <ul class="navbar">
      {{#each categories.categories}}
        <li class="nav-item">
          <a class="nav-item-link" href="">
            <span>{{name}}</span>
          </a>
        </li>
      {{/each}}
    </ul>
  </nav>
  <nav class="topbar">
    <select class="navbar selected">
      {{#each categories.categories}}
        <option class="nav-item">
          <span class="nav-item-link">{{name}}</span>
        </option>
      {{/each}}
    </select>
  </nav>
  <ul class="products-showcase">
    {{#each products.allProducts}}
    <li>
      <h4>{{name}}</h4>
      <div class="product-box">
        <figure class="product-photo">
          <img src="{{imageURL}}" alt="{{name}}">
        </figure>
        <p>{{description}}</p>
      </div>
      <div class="mrp-buy-wrapper">
        <span>MRP Rs. {{price}}</span>
        <a class="btn-buy-now" href="#" data-mrp=" @ MRP Rs. {{price}}">Buy Now</a>
      </div>
    </li>
    {{/each}}
  </ul>
</div>