<section class="home-container">
  <div class="slideshow-container">
    {{#each banners}}
    <div class="bannerSlides fade">
      <img src="{{bannerImageUrl}}" alt="{{bannerImageAlt}}">
    </div>
    {{/each}}
    <button type="button" class="prev">&#10094;</button>
    <button type="button" class="next">&#10095;</button>
    <br>
    <div class="dots-container">
      {{#each banners}}
      <button type="button" class="btn dot dot-{{@index}}"></button>
      {{/each}}
    </div>
  </div>
  <div class="category-section">
    <ul class="category-listing">
      {{#each categories}}
      <li class="category-list">
        <div class="product-category">
          <img src="{{imageUrl}}" alt="{{key}}">
        </div>
        <div class="category-detail">
          <h5>{{name}}</h5>
          <p>{{description}}</p>
          <a class="btn-explore-category" href="#">Explore-{{key}}</a>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>