<section class="home-container">
  <div class="slideshow-container">
    {{#each banners}}
    <div class="bannerSlides fade">
      <img src="{{bannerImageUrl}}" alt="{{bannerImageAlt}}">
    </div>
    {{/each}}
    <button type="button" class="prev">PREV</button>
    <button type="button" class="next">NEXT</button>
    <br>
    <ul class="carousal">
      {{#each banners}}
      <li>
        <button aria-label="viewSlide {{@index}}" type="button" class="btn dot dot-{{@index}}"></button>
      </li>
      {{/each}}
    </ul>
  </div>
  <div class="category-section">
    <ul class="category-listing">
      {{#each categories}}
      <li class="category-list">
        <div class="product-category">
          <img tabindex="0" src="{{imageUrl}}" alt="{{key}}">
        </div>
        <div class="category-detail">
          <h5 tabindex="0">{{name}}</h5>
          <p tabindex="0">{{description}}</p>
          <a role="button" class="btn-explore-category" href="#/category/{{id}}">Explore-{{key}}</a>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</section>